2021-02-09/Flow/GET_PowerApps_Source_Files_-_2_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"SECRETS":{"runAfter":{"DOCS":["Succeeded"]},"trackedProperties":{"githubAuth":""},"type":"Compose","inputs":"a4e10890d417edacdbc398391161faffd178ba3d","description":"Paste your Github Personal Access Token in this Action's Tracked Properties"},"DOCS":{"runAfter":{},"type":"Compose","inputs":"Requirements\n- All github repos will be named after the app with each \" \" replaced with a \"-\"\n- Must have a Github account\n- Must create a Github Personal Access Token. \n- Place your Github Personal Access Token as a Tracked Property of the \"SECRETS\" action.\n- Add your Github Username to the \"SET varUserName\" action\n\nUntested: \n- What happens when an app name changes?\n\nPunchlist:\n- Commiter name and email are hardcoded; should be a variable\n- Commit varLog to README.md or as a Github Issue\n- Update README.md to show app data sources and other relevant info\n- Extend to include Flows?!?\n\nKnown issues:\n- There is no simple way to commit a .zip file to Github\n- OneDrive does not maintain the folder structure within the .zip when its unzipped\n    - Thus, the .zip cannot be imported back into powerapps so the .msapp workaround is in place\n- PowerApps source files are unavailable for ~1min after publishing changes\n- There is a single .jpg file that changes filename with each publish. This causes issues as it should be deleted from the repo when the new one is added.\n- Flow only works on apps that are Published. Has no effect on Saved PowerApps.\n\nFurther dev:\n- Get a graphical view of Diff emailed/shown in the app!"},"INIT_varLog":{"runAfter":{"SECRETS":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varLog","type":"String"}]}},"INIT_varFilename":{"runAfter":{"INIT_varLog":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFilename","type":"String"}]}},"Try":{"actions":{"Get_Environment_as_Admin":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetSingleEnvironment"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_powerplatformforadmins']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent('Default-9196ad5b-adce-4c99-a751-c07fb57d300f')}","queries":{"api-version":"2018-10-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"GET_all_apps_in_env":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-AdminApps"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_powerappsforadmins']['connectionId']"}},"method":"get","path":"/providers/Microsoft.PowerApps/scopes/admin/environments/@{encodeURIComponent(body('Get_Environment_as_Admin')?['name'])}/apps","queries":{"api-version":"2016-11-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"FOR_EACH_app":{"foreach":"@body('GET_all_apps_in_env')?['value']","actions":{"GET_github_repo_for_app":{"runAfter":{"SET_varRepoName":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('Compose_2')}","headers":{"Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}"}}},"SWITCH_on_status_code":{"runAfter":{"GET_github_repo_for_app":["Succeeded"]},"cases":{"STATUS_CODE_200":{"case":200,"actions":{"GET_last_release_tag":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/tags","headers":{"Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}"}},"description":"https://developer.github.com/v3/repos/#list-tags"},"IF_appVersion_equals_releaseVersion":{"actions":{"APPEND_to_log":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"varLog","value":"#### Sync job run at: @{utcNow()}\n- **App: @{replace(items('FOR_EACH_app')?['properties']?['displayName'], ' ', '-')}**\n- Status: No update needed\n- PowerApps appVersion:  @{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}\n- Gihub releaseVersion:  @{body('GET_last_release_tag')[0]['name']} "}}},"runAfter":{"DEBUG_compare_versions":["Succeeded"]},"else":{"actions":{"GET_source_files_2":{"runAfter":{"SELECT_EACH_filename_and_sha":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@items('FOR_EACH_app')?['properties']?['appUris']?['documentUri']?['readonlyValue']"}},"UNZIP_source_files_2":{"runAfter":{"CREATE_MSAPP_file_in_OneDrive":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ExtractFolderV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","path":"/datasets/default/extractFolderV2","queries":{"source":"@body('CREATE_ZIP_file_in_OneDrive')?['Path']","destination":"PowerAppsBuckUp/@{outputs('SET_varRepoName')}","overwrite":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"FOR_EACH_source_file_2":{"foreach":"@body('UNZIP_source_files_2')","actions":{"CONVERT_file_to_base64_2":{"runAfter":{"GET_file_content_2":["Succeeded"]},"type":"Compose","inputs":"@base64(body('GET_file_content_2'))"},"FILTER_ARRAY_of_github_files":{"runAfter":{"DEBUG_filename":["Succeeded"]},"type":"Query","inputs":{"from":"@body('SELECT_EACH_filename_and_sha')","where":"@equals(item()?['filename'], variables('varFilename'))"}},"IF_NEW_file":{"actions":{"PUT_CREATE_file_in_repo":{"runAfter":{},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/contents/@{variables('varFilename')}","headers":{"Content-Type":"application/x-www-form-urlencoded","Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}"},"body":{"message":"@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}","committer":{"name":"Eric","email":"info@powerapps.rocks"},"content":"@{outputs('CONVERT_file_to_base64_2')}"}},"description":"https://developer.github.com/v3/repos/contents/#example-for-creating-a-file"}},"runAfter":{"FILTER_ARRAY_of_github_files":["Succeeded"]},"else":{"actions":{"PUT_UPDATE_file_in_repo":{"runAfter":{},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/contents/@{variables('varFilename')}","headers":{"Content-Type":"application/x-www-form-urlencoded","Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}"},"body":{"message":"@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}","committer":{"name":"Eric","email":"info@powerapps.rocks"},"content":"@{outputs('CONVERT_file_to_base64_2')}","sha":"@body('FILTER_ARRAY_of_github_files')[0]?['sha']"}},"description":"https://developer.github.com/v3/repos/contents/#example-for-updating-a-file"}}},"expression":{"equals":["@empty(body('FILTER_ARRAY_of_github_files'))",true]},"type":"If"},"DEBUG_filename":{"runAfter":{"CONVERT_file_to_base64_2":["Succeeded"]},"type":"Compose","inputs":"@items('FOR_EACH_source_file_2')?['Name']"},"IF_FILENAME_starts_with_underscore_2":{"actions":{"REMOVE_the_first_character_2":{"runAfter":{},"type":"Compose","inputs":"@substring(items('FOR_EACH_source_file_2')['Name'], 1, add(length(items('FOR_EACH_source_file_2')['Name']), -1))"},"REPLACE_underscores_with_slashes_4":{"runAfter":{"REMOVE_the_first_character_2":["Succeeded"]},"type":"Compose","inputs":"@replace(outputs('REMOVE_the_first_character_2'), '_', '/')"},"SET_varFilename_4":{"runAfter":{"REPLACE_underscores_with_slashes_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varFilename","value":"@{outputs('REPLACE_underscores_with_slashes_4')}"}}},"runAfter":{},"else":{"actions":{"REPLACE_underscores_with_slashes_3":{"runAfter":{},"type":"Compose","inputs":"@replace(items('FOR_EACH_source_file_2')['Name'], '_', '/')"},"SET_varFilename_3":{"runAfter":{"REPLACE_underscores_with_slashes_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varFilename","value":"@{outputs('REPLACE_underscores_with_slashes_3')}"}}}},"expression":{"startsWith":["@items('FOR_EACH_source_file_2')?['Name']","_"]},"type":"If"},"GET_file_content_2":{"runAfter":{"IF_FILENAME_starts_with_underscore_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/GetFileContentByPath","queries":{"path":"@{items('FOR_EACH_source_file_2')?['Path']}","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"LIST_FILES_in_OneDrive_folder":["Succeeded","Failed"]},"type":"Foreach"},"POST_add_release_tag_2":{"runAfter":{"PUT_UPDATE_MSAPP_file_in_repo":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/releases","headers":{"Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}","Accept":"application/vnd.github.manifold-preview"},"body":{"tag_name":"@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}","target_commitish":"master","name":"@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}","body":"LATEST RELEASE","draft":false,"prerelease":false}},"description":"https://developer.github.com/v3/repos/releases/#create-a-release"},"GET_branch":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/branches/master","headers":{"Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}"}}},"GET_tree_shas_recursively":{"runAfter":{"GET_branch":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{outputs('SET_varRepoName')}/git/trees/@{body('GET_branch')?['commit']?['commit']?['tree']?['sha']}?recursive=1","headers":{"Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}"}}},"SELECT_EACH_filename_and_sha":{"runAfter":{"GET_tree_shas_recursively":["Succeeded"]},"type":"Select","inputs":{"from":"@body('GET_tree_shas_recursively')?['tree']","select":{"filename":"@item()?['path']","sha":"@item()?['sha']"}}},"CREATE_ZIP_file_in_OneDrive":{"runAfter":{"GET_source_files_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","body":"@body('GET_source_files_2')","path":"/datasets/default/files","queries":{"folderPath":"/PowerAppsBuckUp/@{outputs('SET_varRepoName')}","name":"@{outputs('SET_varRepoName')}_@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}.zip"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"CREATE_MSAPP_file_in_OneDrive":{"runAfter":{"CREATE_ZIP_file_in_OneDrive":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","body":"@body('GET_source_files_2')","path":"/datasets/default/files","queries":{"folderPath":"PowerAppsBuckUp/@{outputs('SET_varRepoName')}","name":"latest.msapp"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"LIST_FILES_in_OneDrive_folder":{"runAfter":{"UNZIP_source_files_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFolderV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/','PowerAppsBuckUp','/',outputs('SET_varRepoName')))}","queries":{"skipToken":"","top":20},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"https://powerusers.microsoft.com/t5/General-Power-Automate/BUG-OneDrive-for-Business-List-Files/m-p/451700#M44933"},"FILTER_ARRAY_of_github_files_2":{"runAfter":{"FOR_EACH_source_file_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('SELECT_EACH_filename_and_sha')","where":"@equals(item()?['filename'], body('CREATE_MSAPP_file_in_OneDrive')?['Name'])"}},"GET_MSAPP_file_content":{"runAfter":{"FILTER_ARRAY_of_github_files_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/GetFileContentByPath","queries":{"path":"@body('CREATE_MSAPP_file_in_OneDrive')?['Path']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"CONVERT_file_to_base64_3":{"runAfter":{"GET_MSAPP_file_content":["Succeeded"]},"type":"Compose","inputs":"@base64(body('GET_MSAPP_file_content'))"},"PUT_UPDATE_MSAPP_file_in_repo":{"runAfter":{"CONVERT_file_to_base64_3":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/SeaDude/@{outputs('SET_varRepoName')}/contents/@{body('CREATE_MSAPP_file_in_OneDrive')?['Name']}","headers":{"Content-Type":"application/x-www-form-urlencoded","Authorization":"Bearer @{actions('SECRETS')['trackedProperties']['githubAuth']}"},"body":{"message":"@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'], '-', ''), ':', '')}","committer":{"name":"Eric","email":"info@powerapps.rocks"},"content":"@{outputs('CONVERT_file_to_base64_3')}","sha":"@body('FILTER_ARRAY_of_github_files_2')[0]?['sha']"}},"description":"https://developer.github.com/v3/repos/contents/#example-for-updating-a-file"}}},"expression":{"equals":["@replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')","@body('GET_last_release_tag')[0]['name']"]},"type":"If"},"DEBUG_compare_versions":{"runAfter":{"GET_last_release_tag":["Succeeded"]},"type":"Compose","inputs":"PowerApps appVersion: @{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}\nGithub releaseVersion:  @{body('GET_last_release_tag')[0]['name']}"}}},"STATUS_CODE_404":{"case":404,"actions":{"GET_source_files":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('FOR_EACH_app')?['properties']?['appUris']?['documentUri']?['readonlyValue']"}},"CREATE_ZIP_file_in_OneDrive_2":{"runAfter":{"POST_create_repo":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","body":"@body('GET_source_files')","path":"/datasets/default/files","queries":{"folderPath":"/backups/@{outputs('SET_varRepoName')}","name":"@{outputs('SET_varRepoName')}_@{replace(replace(items('FOR_EACH_app')['properties']['appVersion'],'-',''),':','')}.zip"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"UNZIP_source_files":{"runAfter":{"CREATE_MSAPP_file_in_OneDrive_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ExtractFolderV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","path":"/datasets/default/extractFolderV2","queries":{"source":"@body('CREATE_ZIP_file_in_OneDrive_2')?['Path']","destination":"/backups/@{outputs('SET_varRepoName')}","overwrite":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"FOR_EACH_source_file":{"foreach":"@body('UNZIP_source_files')","actions":{"GET_file_content":{"runAfter":{"IF_FILENAME_starts_with_underscore":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/GetFileContentByPath","queries":{"path":"@items('FOR_EACH_source_file')?['Path']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"PUT_commit_each_file_to_Github":{"runAfter":{"CONVERT_file_to_base64":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{body('POST_create_repo')['name']}/contents/@{variables('varFilename')}","headers":{"Content-Type":"application/x-www-form-urlencoded","Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}"},"body":{"message":"Initial commit","committer":{"name":"Eric","email":"info@powerapps.rocks"},"content":"@{outputs('CONVERT_file_to_base64')}"}},"description":"https://developer.github.com/v3/repos/contents/#example-for-creating-a-file"},"CONVERT_file_to_base64":{"runAfter":{"GET_file_content":["Succeeded"]},"type":"Compose","inputs":"@base64(body('GET_file_content'))"},"IF_FILENAME_starts_with_underscore":{"actions":{"REMOVE_the_first_character":{"runAfter":{},"type":"Compose","inputs":"@substring(items('FOR_EACH_source_file')['Name'], 1, add(length(items('FOR_EACH_source_file')['Name']), -1))"},"REPLACE_underscores_with_slashes":{"runAfter":{"REMOVE_the_first_character":["Succeeded"]},"type":"Compose","inputs":"@replace(outputs('REMOVE_the_first_character'), '_', '/')"},"SET_varFilename":{"runAfter":{"REPLACE_underscores_with_slashes":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varFilename","value":"@{outputs('REPLACE_underscores_with_slashes')}"}}},"runAfter":{},"else":{"actions":{"REPLACE_underscores_with_slashes_2":{"runAfter":{},"type":"Compose","inputs":"@replace(items('FOR_EACH_source_file')['Name'], '_', '/')"},"SET_varFilename_2":{"runAfter":{"REPLACE_underscores_with_slashes_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varFilename","value":"@{outputs('REPLACE_underscores_with_slashes_2')}"}}}},"expression":{"startsWith":["@items('FOR_EACH_source_file')['Name']","_"]},"type":"If"}},"runAfter":{"LIST_FILES_in_OneDrive_folder_2":["Succeeded","Failed"]},"type":"Foreach"},"POST_add_release_tag":{"runAfter":{"PUT_commit_msapp_file_to_Github":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{body('POST_create_repo')['name']}/releases","headers":{"Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}","Accept":"application/vnd.github.manifold-preview"},"body":{"tag_name":"@{replace(replace(items('FOR_EACH_app')?['properties']?['appVersion'], '-', ''),':','')}","target_commitish":"master","name":"@{replace(replace(items('FOR_EACH_app')?['properties']?['appVersion'], '-', ''),':','')}","body":"LATEST RELEASE","draft":false,"prerelease":false}},"description":"https://developer.github.com/v3/repos/releases/#create-a-release"},"CREATE_MSAPP_file_in_OneDrive_2":{"runAfter":{"CREATE_ZIP_file_in_OneDrive_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"post","body":"@body('GET_source_files')","path":"/datasets/default/files","queries":{"folderPath":"/backups/@{outputs('SET_varRepoName')}","name":"latest.msapp"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"LIST_FILES_in_OneDrive_folder_2":{"runAfter":{"UNZIP_source_files":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFolderV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/backups/',outputs('SET_varRepoName')))}","queries":{"skipToken":"","top":20},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"PUT_commit_msapp_file_to_Github":{"runAfter":{"CONVERT_msapp_file_to_base64":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/@{outputs('SET_varUserName')}/@{body('POST_create_repo')['name']}/contents/@{body('CREATE_MSAPP_file_in_OneDrive_2')?['Name']}","headers":{"Content-Type":"application/x-www-form-urlencoded","Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}"},"body":{"message":"Initial commit","committer":{"name":"Eric","email":"info@powerapps.rocks"},"content":"@{outputs('CONVERT_msapp_file_to_base64')}"}}},"GET_MSAPP_file_content_2":{"runAfter":{"FOR_EACH_source_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/GetFileContentByPath","queries":{"path":"@body('CREATE_MSAPP_file_in_OneDrive_2')?['Path']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"CONVERT_msapp_file_to_base64":{"runAfter":{"GET_MSAPP_file_content_2":["Succeeded"]},"type":"Compose","inputs":"@base64(body('GET_MSAPP_file_content_2'))"},"POST_create_repo":{"runAfter":{"GET_source_files":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://api.github.com/user/repos","headers":{"Authorization":"Bearer @{actions('SECRETS')?['trackedProperties']?['githubAuth']}"},"body":{"name":"@{replace(items('FOR_EACH_app')?['properties']?['displayName'], ' ', '-')}","description":"This repository holds the low-code source for the @{items('FOR_EACH_app')?['properties']?['displayName']} application.","homepage":"@{concat(items('FOR_EACH_app')?['properties']?['appOpenUri'],'&hidenavbar=true')}","private":true,"has_issues":true,"has_projects":false,"has_wiki":false,"auto_init":true}}}}}},"default":{"actions":{}},"expression":"@outputs('GET_github_repo_for_app')['statusCode']","type":"Switch"},"SET_varUserName":{"runAfter":{},"type":"Compose","inputs":"FlowRocks","description":"Add your Github Username below"},"SET_varRepoName":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Compose","inputs":"@replace(items('FOR_EACH_app')?['properties']?['DisplayName'],' ','-')"},"Compose_2":{"runAfter":{"SET_varUserName":["Succeeded"]},"type":"Compose","inputs":"powerAppsRepo"}},"runAfter":{"GET_all_apps_in_env":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_IsError":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsError","value":"Yes"}}},"runAfter":{"Try":["Failed"]},"type":"Scope"},"Finally":{"actions":{"Condition":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@result('Try')"}},"runAfter":{},"expression":{"equals":["@variables('IsError')","Yes"]},"type":"If"}},"runAfter":{"Catch":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Scope"},"Initialize_IsError":{"runAfter":{"INIT_varFilename":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsError","type":"string","value":"No"}]}}}}