2021-02-09/Flow/Save_email_attachments_-_Askal_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_new_email_with_attachment":{"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewEmailV2"}},"type":"ApiConnectionNotification","inputs":{"fetch":{"method":"get","pathTemplate":{"template":"/v3/Mail/OnNewEmail"},"queries":{"folderPath":"Inbox","importance":"Normal","fetchOnlyWithAttachment":true,"includeAttachments":true}},"subscribe":{"method":"post","pathTemplate":{"template":"/GraphMailSubscriptionPoke/$subscriptions"},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"queries":{"folderPath":"Inbox","importance":"Normal","fetchOnlyWithAttachment":true}},"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Attachment_Names":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"AttachmentNames","type":"string"}]}},"Apply_to_each_2":{"foreach":"@triggerBody()?['attachments']","actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"AttachmentNames","value":"@items('Apply_to_each_2')?['name']"}},"Set_variable":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AttachmentName","value":"@items('Apply_to_each_2')?['name']"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Attachment_Names":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AttachmentName","type":"string"}]}},"Condition":{"actions":{"Get_files_(properties_only)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://estifanos.sharepoint.com/teams/engparking'))}/tables/@{encodeURIComponent(encodeURIComponent('c9efa3c7-7f90-4d45-9c6d-ca217813df43'))}/getfileitems","queries":{"$filter":"Title eq '@{variables('AttachmentName')}'"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Apply_to_each_3":{"foreach":"@triggerBody()?['attachments']","actions":{"Apply_to_each":{"foreach":"@body('Get_files_(properties_only)')?['value']","actions":{"Update_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UpdateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"method":"put","body":"@base64ToBinary(items('Apply_to_each_3')?['contentBytes'])","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://estifanos.sharepoint.com/teams/engparking'))}/files/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['{Identifier}']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"else":{"actions":{"Condition_3":{"actions":{"Apply_to_each_4":{"foreach":"@triggerBody()?['attachments']","actions":{"Create_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"method":"post","body":"@base64ToBinary(items('Apply_to_each_4')?['contentBytes'])","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://estifanos.sharepoint.com/teams/engparking'))}/files","queries":{"folderPath":"/Shared Documents","name":"@items('Apply_to_each_4')?['name']","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@variables('AttachmentName')"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://estifanos.sharepoint.com/teams/engparking'))}/tables/@{encodeURIComponent(encodeURIComponent('c9efa3c7-7f90-4d45-9c6d-ca217813df43'))}/items/@{encodeURIComponent(body('Create_file')?['ItemId'])}/patchfileitem","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"Admin@Estifanos.onmicrosoft.com","Subject":"Email sent to mail box","Body":"<p>Email sent to mail box</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"contains":["@variables('AttachmentName')","JSON"]},{"contains":["@variables('AttachmentName')","Steve"]},{"contains":["@variables('AttachmentName')","Askal"]}]},"type":"If"}}},"expression":{"greater":["@length(body('Get_files_(properties_only)')?['value'])",0]},"type":"If"}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"expression":{"equals":["@triggerBody()?['hasAttachments']","@true"]},"type":"If"}},"description":"When an email is received with an attachment, save the attachment to a SharePoint document library and receive a push notification. A filter may also be used to retrieve attachments from emails that are sent only by a specific person; this may be accomplished by setting the variable “IsFromFilterApplied” to “true” and adding an Email ID to the “From” field in the condition."}